* {
    font-family: Poppins, ui-sans-serif, system-ui, sans-serif;
}

li {
    display: inline; /* barra orizzontale */
    float: left;
}

body {
    margin: 0px;
}

/* Class navbar */
.navbar {
    width: 100%; /* larghezza */
    background-color: #00ff00;
    overflow: auto; /* Controls what happens to content that is too big to fit into an area */
    display: flex;
    justify-content: center;
}

/* Navigation links */
.navbar a {
    float: left;
    padding: 25px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center; /* If you want the text to be centered */
    font-size: 1.4rem;
    line-height: 1.8;
}

/* Style the current/active link */
.navbar a:visited {
    background-color: #32cd32;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {
        display: none;
    }

    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {
        position: relative;
    }

    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.text p {
    font-size: 1.2rem;
    line-height: 1.8;
    float: right;
    max-width: 65ch;
    margin-top: 60px;
}

.responsive {
    max-width: 100%; /* per rendere le img responsive */
    height: auto; /* altezza */
}

.center-div {
    text-align: center;
}

.resize-div {
    width: 36%;
    height: 36%;
    margin-left: 7%;
    margin-right: 7%;
}

.rounded-img { /* permette di accedere all'id dell'img*/
    border-radius: 25px;
    border: 2px;
}

.blank-space {
    padding-top: 5rem;
}


.vertical-menu {
    width: 200px; /* Set a width if you like */
}

.vertical-menu a {
    background-color: white; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}


.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #32cd32; /* Add a green color to the "active/current" link */
    color: white;
}
