li {
    display: inline; /* barra orizzontale */
    float: left;
}

/* Class navBar */
.navbar {
    width: 100%; /* larghezza */
    background-color: #00ff00;
    overflow: auto; /* Controls what happens to content that is too big to fit into an area */
    display: flex;
    justify-content: center;
}


/* Navigation links */
.navbar a {
    float: left;
    padding: 25px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 26px;
    text-align: center; /* If you want the text to be centered */
}

/* Style the current/active link */
.navbar a:visited {
    background-color: #32cd32;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left; /* If you want the text to be left-aligned on small screens */
    }
}