li {
    display: inline; /* barra orizzontale */
    float: left;
}

/* Class navBar */
.navbar {
    width: 100%; /* larghezza */
    background-color: #98fb98;
    overflow: auto; /* Controls what happens to content that is too big to fit into an area */
}

/* Navigation links */
.navbar a {
    float: left;
    padding: 25px;
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 25px;
    text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
    background-color: #3cb371;
}

/* Style the current/active link */
.navbar a.active {
    background-color: #04AA6D;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left; /* If you want the text to be left-aligned on small screens */
    }
}